<p>forms-template works!</p>

<div class="container-mt5">
    <div class="form-area">
        <form #f='ngForm' (submit)="onSubmit(f)">
            <div class="form-group">
                <label for="name">Full Name : </label>
                <input class="form-control" type="text" name="name" id="name" 
                placeholder="John Doe" 
                ngModel
                #fullName='ngModel' (change)="getValue(fullName)" required>
            </div>
            <div class="form-group">
                <label for="email">Email : </label>
                <input class="form-control" type="email" name="email" id="email" 
                placeholder="abc@abc.abc" 
                ngModel email
                #email='ngModel' (change)="getValue(email)" 
                required
                [ngClass] = "{'is-invalid' : email.invalid && email.touched}"
                minlength="5"
                maxlength="10">

                <!-- <div class="alert alert-danger" *ngIf="email.errors?.['required']"> -->
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                        Email
                    <!-- </div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address : </label>
                <textarea class="form-control" name="address" id="address" cols="30" rows="10"
                    placeholder="Everything is worst" 
                    ngModel
                    #address='ngModel' (change)="getValue(address)" required></textarea>

            </div>
            <button type="submit" class=" btn-primary" [disabled]="f.invalid">Don't Submit, We don't have any space left</button>
        </form>
    </div>

</div>