<p>comp2 works!</p>

<ul>
    <li>{{ arr[0] }}</li>
    <li>{{ arr[1] }}</li>
    <li>{{ arr[2] }}</li>
    <li>{{ arr[3] }}</li>
    <li>{{ arr[4] }}</li>
    <li>{{ arr[5] }}</li>
</ul>

<br><br><br>
<div *ngIf="arr.length > 0">
    <ul>
        <li *ngFor="let item of arr">{{item}}</li>
    </ul>
</div>
<div *ngIf="arr.length == 0">
    <p>There are no elements</p>
</div>

<div *ngIf="arr2.length > 0;else no">
    <ul>
        <li *ngFor="let item of arr2; ">{{item}} </li>
    </ul>
</div>

<ng-template #no>
    <p>There are no elements</p>
</ng-template>




